extends _layout
block head
	include include/_head.pug
block connect_wallet_container
	.d-grid.gap-2.col-md-3.col-sm-6.mx-auto
		button#button-connect-wallet.btn.btn-outline-dark.btn-lg(type='button')
			| Connect Wallet
block main_container
	p map
	p discover
	p unlock