extends _layout
block head
	include include/_head.pug
block connect_wallet_container
	.d-grid.gap-2.col-md-3.col-sm-6.mx-auto
		button#button-connect-wallet.btn.btn-outline-dark.btn-lg(type='button')
			| Connect Wallet
block main_container
	#map-container.mt-3
		#map
	.d-grid.gap-2.col-md-3.col-sm-6.mx-auto.mt-3
		button#button-create-account-modal.btn.btn-outline-primary.btn-lg(type='button', data-bs-toggle="modal", data-bs-target="#modal-account-create")
			| Verify Account
	.d-grid.gap-2.col-md-3.col-sm-6.mx-auto.mt-3
		button#button-create-tb-modal.btn.btn-outline-primary.btn-lg(type='button', data-bs-toggle="modal", data-bs-target="#modal-create-tb")
			| Create TreasureBox
	.d-grid.gap-2.col-md-3.col-sm-6.mx-auto.mt-3
		button#button-test.btn.btn-outline-primary.btn-lg(type='button')
			| Test
	include include/_modal_account_create.pug
	include include/_modal_create_tb.pug
	include include/_modal_discover.pug
	