html {
	height: 100%;
}

body {
	height: 100%;
}

#connect-wallet-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.only-logout {
	display: none;
}

.only-login {
	display: none;
}

#map-container {
	display: none;
	height: 70vh;
}

#map {
	width: 100%;
	height: 100%;
}

#loading {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.31);
	z-index: 2000;
}

#spinner {
	display: none;
	color: #fff;
	z-index: 2001;
}