meta(charset='utf-8')
title Discov3r
meta(name='viewport' content='width=device-width, initial-scale=1')
//- CSS
link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css')
link(rel='stylesheet' href='./css/main.css?{{git}}')
//- jQuery
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
//- Ethers
script(src='https://cdn.ethers.io/lib/ethers-5.2.umd.min.js')
//- Bootstrap
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js')
script(src='/js/main-bundle.js?{{git}}')