#modal-discover.modal.fade(tabindex='-1')
  .modal-dialog
    .modal-content
      .modal-header
        h5.modal-title You discov3red Treasure Box!
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        .d-grid.mx-auto
          label.mt-2 id
            input#d-id.form-control(type="text", readonly)
          label.mt-2 name
          input#d-name.form-control(type="text", readonly)
          label.mt-2 key
          input#d-key.form-control(type="text", readonly)
          label.mt-2 You will get
          input#d-amount.form-control(type="number", readonly)
          label.mt-2 Already discovered?
          input#d-discovered.form-control(type="text", readonly)
        .d-grid.mx-auto.mt-3
          button#button-discover.btn.btn-outline-primary.btn-lg(type='button')
            | Discov3r!
      .modal-footer
        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close